.nav-wrapper{
  background-color:#f6f6f6;
  margin-top: 0;
  padding-top: 0;
  height: 100px;
}
  /*filter: alpha(opacity=10);*/
  /*opacity: .9;*/
  /*z-index: -1;*/

nav {
  background-color:#000000;
  opacity: 0.48;
  height: 80px;

}
.icon{
  height: 10px;
}
.title{
  color:#000000;

  padding-top: 9px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 40px;
}
body {
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color:#eff5f7;

}
<<<<<<< HEAD

=======
textarea.materialize-textarea{
    height: 220px;
    resize: none;
}
>>>>>>> ae4b72b8d75b251a131540adfb8176b286310f48
/*.materialize-textarea{
  padding-left: 10px;
}*/
