.nav-wrapper{
  background-color:#ffffff;
  margin-top: 0;
  padding-top: 0;
}
head{
  opacity: 0;
}
p{
  font-family: 'Roboto-light', sans-serif;
}
.btn-large{
    background-color: #f6f6f6;
    height: 50px;
    width: 150px;
    opacity: 0.50;
    color: black;
    font-family:'Julius Sans One', sans-serif;
}
.snoo{
  opacity: 1;
}
.paper{
  opacity: 1;
}
.btn-large:visited{
  background-color: white
}
.btn-large:hover {
  background-color: #d4d9dd
}
.btn:active{
  background-color: #d4d9dd;
}
.derp{
  margin-top: 20px;
}
.parallax-container {
      height: 600px;
    }
nav {
  background-color:#ffffff;
  /*opacity: 0.45;*/
  height: 80px;
}
.icon{
  height: 10px;
}
.title{
  color: #424242 ;
  padding-top: 9px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 50px;
  opacity: 1;
}
body {
    /*text-align: left;*/
    font-family: 'Roboto', sans-serif;
    width: 100%;

}
.cat{
  text-align: center;

}
.form-container{
  text-align: center;
}
h3{
  font-family: 'Julius Sans One', sans-serif;
}
.input-field label {
     color: #000000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000000;
     box-shadow: 0 1px 0 0 #000000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000000;
     box-shadow: 0 1px 0 0 #000000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000000;
     box-shadow: 0 1px 0 0 #000000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000000;
   }
   .input-field input:focus + label {
     color: black !important;
   }
   /* label underline focus color */
   .row .input-field input:focus {
     border-bottom: 1px black !important;
     box-shadow: 0 1px 0 0 red !important
   }
