<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" href="/static/project/main.css">


<head>
  <title>Title</title>
  <meta charset="utf-8"/>
</head>
</header>
    <nav class="top_banner">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Title</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        </ul>
      </div>
    </nav>
  </div>
</header>
<body class="body" style="background-color:#f6f6f6">
  <div>
    {% block content %}
    {% endblock %}
  </div>

</body>

</html>
