{% extends "project/header.html" %}

{% block content %}
  <div class="row">
    <form class="col s12" action="/reddit">
      <div class="row">
        <img class="col s1" src="static/project/icons/snoo.png">
         <div class="input-field col s11">
           <input id="link" type="text">
           <label id="redditLabel" for="link">Paste your Reddit link here:</label>
         </div>
       </div>
    </form>
  </div>
  <div class="row">
    <form id= "articleForm" class="col s12" action="/article">
      <div class="row ">
        <img class="col s1" src="static/project/paper.png">
        <div class="input-field col s11">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label id="articleLabel" for="textarea1">Paste your article here:</label>
        </div>
      </div>
    </form>
  </div>

<ul>
  {% for n in claimsList %}
  <li> Claims: {{n}} <img class="newspaper" src="static/project/icons/newspaper.png"></li>
  {% endfor %}
</ul>

  <script>
    redditText = document.getElementById("link");
    articleText = document.getElementById("textarea1");
    redditLabel = document.getElementById("redditLabel");
    articleLabel = document.getElementById("articleLabel");
    articleForm = document.getElementById("articleForm");

    articleText.addEventListener("focus", function(){
      articleLabel.style.visibility="hidden";
    });

    articleText.addEventListener("blur", function(){
      articleText.value = "";
      articleLabel.style.visibility="visible";
    });

    articleText.addEventListener("keypress", function(event){
      if(event.keyCode == 13){
        articleForm.submit()
      }
    });
    
    redditText.addEventListener("focus", function(){
      redditLabel.style.visibility="hidden";
    });

    redditText.addEventListener("blur", function(){
      redditText.value = "";
      redditLabel.style.visibility="visible";
    });

    
  </script>
{% endblock %}
