{% extends "project/header.html" %}

{% block content %}
    <form id= "form" class="col s12" action="/reddit">
      <div class="hoverable row">
        <div class="input-field col s11 push-s1">
          <textarea id="textarea1" name="link" class="materialize-textarea"></textarea>
          <label id="formLabel" for="textarea1">Paste your article here:</label>
        </div>
        <img class="derp col s1 pull-s11" src="static/project/icons/snoo.png">
        <!-- <a class="hoverable col s1 waves-effect waves-light btn-large"></a> -->
      </div>
    </form>

    <a id="submit" class="hoverable waves-effect waves-light btn-large center"><h5 class="center">Submit</h5></a>

  <script src="static/project/javascript/form.js"></script>
{% endblock %}
